.huge-type {
  font-size: 4rem;
}

.gallery {
  padding: 1vw;
  display: grid;
  grid-auto-flow: row dense;
  grid-gap: 1vw;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
}
.gallery figure {
  position: relative;
  overflow: hidden;

  border-radius: 15px;
  outline: 1px solid #ffffff00;
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}
.gallery figure:hover {
  z-index: 2;
  transform: scale(1.025);
}
.gallery figure figcaption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0.2em 0.4em 0.2em;
  transform: translateY(101%);
  transition: transform 200ms ease-in-out;
}
.gallery figure:hover figcaption {
  transform: translateY(0);
}
.gallery figure img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
  object-fit: cover;
  transform: scale(1);
  transition:
    transform 1200ms ease-in-out,
    filter 240ms ease-in-out,
    object-position 1200ms ease-in-out;
  transition:
    transform 1200ms ease-in-out,
    filter 240ms ease-in-out,
    object-position 1200ms ease-in-out,
    -o-object-position 1200ms ease-in-out;
}
.gallery figure:hover img {
  transform: scale(1.05) rotate(-2deg);
  filter: blur(4px) brightness(0.3);
  -o-object-position: 60% 40%;
  object-position: 60% 40%;
}

@media screen and (min-width: 480px) {
  .gallery .intro {
    grid-area: span 2 / span 2;
  }
  .gallery figure:nth-child(3n) {
    grid-area: span 2 / span 1;
  }
  .gallery figure:nth-child(5n) {
    grid-area: span 1 / span 2;
  }
}
@media screen and (min-width: 960px) {
  .gallery .intro {
    grid-area: span 2 / span 3;
  }
  .gallery figure:nth-child(7n) {
    grid-area: span 2 / span 2;
  }
  .gallery figure:nth-child(11n) {
    grid-area: span 3 / span 2;
  }
  .gallery figure:nth-child(13n) {
    grid-area: span 2 / span 3;
  }
}
@media screen and (min-width: 1440px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px;
  }
}
.intro {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}
.intro h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
